.map {
    position: relative;
    height: 1000px;
    width: 100%;
}

.map-section {
    position: absolute;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5); /* Add a background color for visibility */
}

.section1 {
    top: 0;
    left: 0;
    right: 0;
    height: 83px; /* Adjust the height as needed */
}

.section2 {
    top: 83px;
    left: 0;
    right: 0;
    height: 83px;
}

.section3 {
    top: 166px;
    left: 0;
    right: 0;
    height: 83px;
}

.section4 {
    top: 249px;
    left: 0;
    right: 0;
    height: 83px;
}

.section5 {
    top: 332px;
    left: 0;
    right: 0;
    height: 83px;
}

.section6 {
    top: 415px;
    left: 0;
    right: 0;
    height: 83px;
}

.section7 {
    top: 498px;
    left: 0;
    right: 0;
    height: 83px;
}

.section8 {
    top: 581px;
    left: 0;
    right: 0;
    height: 83px;
}

.section9 {
    top: 664px;
    left: 0;
    right: 0;
    height: 83px;
}

.section10 {
    top: 747px;
    left: 0;
    right: 0;
    height: 83px;
}

.section11 {
    top: 830px;
    left: 0;
    right: 0;
    height: 83px;
}

.section12 {
    top: 913px;
    left: 0;
    right: 0;
    height: 87px; /* Adjust the height as needed */
}
